<a href="/profile/<%= username %>" > <h1><%= username %> </h1> </a>
<% if (travel['cost'] != undefined) { %>
 <%= travel['cost'] %> $ <br>
<% } %>
<%= travel['departureDate'] %><br>
<%= travel['departureTime'] %><br>
<%= travel['startAddress'] %> → <%= travel['destinationAddress'] %><br>
<%= profile.seatsTaken %> <%= travel['takenSeat'] %> <br>
<%= profile.availableSeats %> <%= travel['availableSeat'] %><br>
<% if (travel['petsAllowed'] == 0 || travel['pets'] ==0){ %>
<%= profile.petsAllowed %><%= profile.no %><br>
<%} else { %>
<%= profile.petsAllowed %><%= profile.yes %><br>
<% } %>