
<a href="#" class="modal" id="myTravels" aria-hidden="true">
</a>
<div class="modal-dialog">

    <div class="modal-header">
        <a href="#" class="btn-close" aria-hidden="true">&#215;</a>
        <h2><%= profile.popUpTitle %></h2>
        <%= profile.moreOptions %>
        <br>
    </div>
    <div class="modal-header">
        <h1><%= profile.travelOffers %></h1>
        <%  //AFFICHAGE des VOYAGES en tant que CONDUCTEUR
        if (travelsAsDriver != undefined && travelsAsDriver.length != 0 ) {
            var limitLoop = Math.min(5, travelsAsDriver.length);
            for (i=0; i<limitLoop; ++i) { %>
                <a href="/travel/<%= travelsAsDriver[i]['idAddTravel'] %>">

                <%= travelsAsDriver[i]['departureDate'] %><br>
                <%= travelsAsDriver[i]['startAddress'] %> → <%= travelsAsDriver[i]['destinationAddress'] %><br>

                </a>
                <hr>

        <%  }
            if (travelsAsDriver.length >= 6) { %>
            <a> <%= profile.maxNbResulstsTravelsDriver%> </a>
        <%    }
        } else { %>
            <p><%= profile.noTravelsAsDriver %></p>
        <% } %>

        <h1><%= profile.travelDemands %></h1>
        <%
        //AFFICHAGE des VOYAGES en tant que PASSAGERS
            if (travelsAsPassenger != undefined && travelsAsPassenger.length != 0) {
                var limitLoop = Math.min(5, travelsAsPassenger.length);
            for (i=0; i<limitLoop; ++i) { %>

                <a href="/travelrequest/<%= travelsAsPassenger[i]['idSearchTravel'] %>">
                <%= travelsAsPassenger[i]['departureDate'] %><br>
                <%= travelsAsPassenger[i]['startAddress'] %> → <%= travelsAsPassenger[i]['destinationAddress'] %><br>

                </a>
                <hr>

        <%  }
            if (travelsAsPassenger.length >= 6) { %>
                <a> <%= profile.maxNbResulstsTravelsPassenger%> </a>
        <%    }
            } else { %>
                <p><%= profile.noTravelsAsPassenger %></p>
        <% } %>

    </div>
</div>