<!-- Content -->
<article>
    <h2><%= userName %></h2>
    <div class="image avatarResult2">
        <img src="/images/avatar/<%= avatarImage %>" alt="avatar"/>
    </div>
    <% if (anecdote != null) { %>
    <p><%= anecdote %></p>
    <% }
    if (goalInLife != null) { %>
    <h3><%= goalInLife %></h3>
    <p><%= goalInLife %></p>
    <% } %>

</article>