



<a href="#" class="modal" id="ratingDriver" aria-hidden="true">
</a>
<div class="modal-dialog">

    <div class="modal-header">
        <a href="#" class="btn-close" aria-hidden="true">&#215;</a>
    </div>
    <div class="modal-header">
        <form id="ratingsFormDriver" method="post" action ="/rate_driver"
              enctype="application/x-www-form-urlencoded" >
            <input type="hidden" name="usernameOfProfile" value="<%= userOfProfile %>">
            <h3><%= ratingPnD.punctuality %></h3>
            <div class="rating-star">
                <input type="hidden" name="dPunctualityVote" value="0" />

                <input type="radio" value="1" name="dPunctualityVote" class="star-1" id="dstar-12p"  />
                <label class="star-1" for="dstar-12p">1</label>

                <input type="radio" value="2" name="dPunctualityVote" class="star-2" id="dstar-22p"  />
                <label class="star-2" for="dstar-22p">2</label>

                <input type="radio" value="3" name="dPunctualityVote" class="star-3" id="dstar-32p"  />
                <label class="star-3" for="dstar-32p">3</label>

                <input type="radio" value="4" name="dPunctualityVote" class="star-4" id="dstar-42p" />
                <label class="star-4" for="dstar-42p">4</label>

                <input type="radio" value="5" name="dPunctualityVote" class="star-5" id="dstar-52p"  />
                <label class="star-5" for="dstar-52p">5</label>
                <span></span>
            </div>
            <br>
            <h3><%= ratingPnD.courtesy %></h3>
            <div class="rating-star">
                <input type="hidden" name="dCourtesyVote" value="0" />

                <input type="radio" value="1" name="dCourtesyVote" class="star-1" id="dstar-12c"  />
                <label class="star-1" for="dstar-12c">1</label>

                <input type="radio" value="2" name="dCourtesyVote" class="star-2" id="dstar-22c"  />
                <label class="star-2" for="dstar-22c">2</label>

                <input type="radio" value="3" name="dCourtesyVote" class="star-3" id="dstar-32c"  />
                <label class="star-3" for="dstar-32c">3</label>

                <input type="radio" value="4" name="dCourtesyVote" class="star-4" id="dstar-42c" />
                <label class="star-4" for="dstar-42c">4</label>

                <input type="radio" value="5" name="dCourtesyVote" class="star-5" id="dstar-52c"  />
                <label class="star-5" for="dstar-52c">5</label>
                <span></span>
            </div>
            <br>
            <h3><%= ratingPnD.reliability %></h3>
            <div class="rating-star">
                <input type="hidden" name="dReliabilityVote" value="0" />

                <input type="radio" value="1" name="dReliabilityVote" class="star-1" id="dstar-12f"  />
                <label class="star-1" for="dstar-12f">1</label>

                <input type="radio" value="2" name="dReliabilityVote" class="star-2" id="dstar-22f"  />
                <label class="star-2" for="dstar-22f">2</label>

                <input type="radio" value="3" name="dReliabilityVote" class="star-3" id="dstar-32f"  />
                <label class="star-3" for="dstar-32f">3</label>

                <input type="radio" value="4" name="dReliabilityVote" class="star-4" id="dstar-42f" />
                <label class="star-4" for="dstar-42f">4</label>

                <input type="radio" value="5" name="dReliabilityVote" class="star-5" id="dstar-52f"  />
                <label class="star-5" for="dstar-52f">5</label>
                <span></span>
            </div>
            <br>
            <h3><%= ratingPnD.security %></h3>
            <div class="rating-star">
                <input type="hidden" name="dSecurityVote" value="0" />

                <input type="radio" value="1" name="dSecurityVote" class="star-1" id="dstar-12s"  />
                <label class="star-1" for="dstar-12s">1</label>

                <input type="radio" value="2" name="dSecurityVote" class="star-2" id="dstar-22s"  />
                <label class="star-2" for="dstar-22s">2</label>

                <input type="radio" value="3" name="dSecurityVote" class="star-3" id="dstar-32s"  />
                <label class="star-3" for="dstar-32s">3</label>

                <input type="radio" value="4" name="dSecurityVote" class="star-4" id="dstar-42s" />
                <label class="star-4" for="dstar-42s">4</label>

                <input type="radio" value="5" name="dSecurityVote" class="star-5" id="dstar-52s"  />
                <label class="star-5" for="dstar-52s">5</label>
                <span></span>
            </div>
            <br>
            <h3><%= ratingPnD.comfort %></h3>
            <div class="rating-star">
                <input type="hidden" name="dComfortVote" value="0" />

                <input type="radio" value="1" name="dComfortVote" class="star-1" id="dstar-12o"  />
                <label class="star-1" for="dstar-12o">1</label>

                <input type="radio" value="2" name="dComfortVote" class="star-2" id="dstar-22o"  />
                <label class="star-2" for="dstar-22o">2</label>

                <input type="radio" value="3" name="dComfortVote" class="star-3" id="dstar-32o"  />
                <label class="star-3" for="dstar-32o">3</label>

                <input type="radio" value="4" name="dComfortVote" class="star-4" id="dstar-42o" />
                <label class="star-4" for="dstar-42o">4</label>

                <input type="radio" value="5" name="dComfortVote" class="star-5" id="dstar-52o"  />
                <label class="star-5" for="dstar-52o">5</label>
                <span></span>
            </div>
            <br>
            <div class="btn-submit modal-footer">
                <input type="submit" value="<%= ratingPnD.submit %>" onclick="history.go(0)" />
            </div>
        </form>
    </div>
</div>

<div id="fade" class="black_overlay"></div>