<div class="4u 12u$(medium)">
    <div id="sidebar">

        <!-- Sidebar -->
        <section>
            <% switch (pageType) {
                case 0:%>
                    <h3><%= profile.profile %></h3>
            <%
                 if (age != null) { %>
                    <h3><%= profile.age %>  </h3>
            <% }
                 if (education != null ) { %>
                    <h3><%= profile.education %>  </h3>
            <% }
                if (music != null) { %>
                    <h3><%= profile.music %>  </h3>
            <% }
                    { %>
            <!--footer>
                <a href="#" class="button icon fa-info-circle"><%= profile.contacts %></a>
            </footer-->
            <% } %>
                <% break;
                case 1:%>
                <h3><%= profile.aTravel %></h3>
                   <% break;
                   case 2:%>
                    <h3><%= profile.aTravelRequest %></h3>
                    <% break;
                    case 3:%>
                    <h3><%= profile.allTravels %></h3>
                    <% break;
                    case 4:%>
                    <h3><%= profile.allTravelRequests %></h3>
                    <% break;
                    case 5:%>
                    <h3><%= profile.offerTitle %></h3>
                    <% break;
            } %>

        </section>

        <section>
            <h3><%= profile.submenu %></h3>
            <ul class="style2">
                <li><a href="/profile"><%= profile.dashboard %></a></li>
                <!--li><a href="#tabs-2"--><!--%= profile.ads %--><!--/a></li-->
                <li><a href="/getPropositionTransport"><%= profile.reservation %></a></li>
                <li><a href="/travelrequest/all"><%= profile.myTravelRequests %></a></li>
                <li><a href="/travel/all"><%= profile.myTravelOffers %></a></li>
                <li><% include ../partials/profileAvatar %></li>
            </ul>
        </section>

    </div>
</div>