<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="ejs_production.js"></script>

</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">
                <div class="4u 12u$(medium)">
                    <div id="sidebar">

                        <!-- Sidebar -->
                        <section>
                            <h3>Subheading</h3>
                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                                Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                                Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                                consequat etiam.</p>
                            <footer>
                                <a href="#" class="button icon fa-info-circle">Find out more</a>
                            </footer>
                        </section>

                        <section>
                            <h3>Subheading</h3>
                            <ul class="style2">
                                <li><a href="#tabs-1">Tableau de bord</a></li>
                                <li><a href="#tabs-2">Annonces</a></li>
                                <li><a href="#tabs-3">Réservation</a></li>
                                <li><a href="#tabs-4">Messages</a></li>
                                <li><a href="#tabs-5">...</a></li>
                            </ul>
                        </section>

                    </div>
                </div>
                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">

                        <!-- Content -->
                        <article>

                            <h2>Left Sidebar</h2>

                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                                Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                                Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                                consequat etiam lorem ipsum dolor sit amet nullam.</p>

                            <h3>More intriguing information</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
                                justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
                                ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
                                vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                                Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                                rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
                                Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
                                Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.</p>

                            <p>Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim
                                quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu.
                                Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
                                fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
                                Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
                                Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.</p>

                        </article>

                        <div>

                            <div class="left">
                                <h3>Conducteur</h3>
                                Score moyen:
                                <form id="ratingsForm">
                                    <div class="rating-star">

                                        <%
                                        var checker1 = "";
                                        var checker2 = "";
                                        var checker3 = "";
                                        var checker4 = "";
                                        var checker5 = "";
                                        switch (scoreMoyen) {
                                            case 1:
                                                checker1 = "checked";
                                            break;
                                            case 2:
                                                checker2 = "checked";
                                            break;
                                            case 3:
                                                checker3 = "checked";
                                            break;
                                            case 4:
                                                checker4 = "checked";
                                            break;
                                            case 5:
                                                checker5 = "checked";
                                            break;
                                        }
                                        %>
                                        <input type="radio" name="star" class="star-1" id="star-1" <%= checker1 %> />
                                        <label class="star-1" for="star-1">1</label>
                                        <input type="radio" name="star" class="star-2" id="star-2" <%= checker2 %> />
                                        <label class="star-2" for="star-2">2</label>
                                        <input type="radio" name="star" class="star-3" id="star-3" <%= checker3 %> />
                                        <label class="star-3" for="star-3">3</label>
                                        <input type="radio" name="star" class="star-4" id="star-4" <%= checker4 %> />
                                        <label class="star-4" for="star-4">4</label>
                                        <input type="radio" name="star" class="star-5" id="star-5" <%= checker5 %> />
                                        <label class="star-5" for="star-5">5</label>
                                        <span></span>
                                    </div>
                                </form>

                            </div>
                            <div class="right">
                                <h3>Passager</h3>
                                <br>
                                N/A
                            </div>
                        </div>

                        <div class="row-comments">
                            <div class="column-comments">
                                <div class="panel">
                                    <div class="panel-heading">Comments</div>
                                    <div class="panel-body">
                                        <form id="write_comment" class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                                </div><!--col-md-6-->
                                                <div class="col-md-6">
                                                    <input type="email" name="mail" id="mail" class="form-control" placeholder="E-mail">
                                                </div><!--col-md-6-->
                                            </div><!--form-group-->
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <textarea name="comment" rows="3" class="form-control input-md" placeholder="Add a comment"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <!--col-md-5-->
                                                <div class="col-md-5">
                                                    <input type="submit" class="button" value="Submit"/>
                                                </div><!--col-md-5-->

                                            </div>

                                        </form>
                                    </div><!--panel-body class="meta clearfix"  -->
                                    <ul class="list-group">
                                        <li class="list-group-item ">
                                            <p >
                                                <a href="#"  title="NAME" class="user">someGuy</a>
                                                <span class="time">3 Hours, 34 Minutes ago</span>
                                            </p>

                                            <p class="comment">
                                            <p>Super cool driver</p>                                </p>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>