<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body class="left-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="btn-toolbar">

            </div>
            <div class="row 200%">
                <div class="4u 12u$(medium)">
                    <div id="sidebar">

                        <div class="row">

                            <div >
                                <form method="get" action="/search">
                                    <input type="text" class="search-panel" id="currentLocation" name = "currentLocation" placeholder="De"><br>
                                    <input type="text" class="search-panel" id="destination" name = "destination"  placeholder="À"><br>
                                    <input type="text" class="search-panel" id="datepicker" name="datepicker" placeholder="Date"/><br>

                                    <div class="[ form-group ] ">
                                        <input  class="radio" type="checkbox" name="searchDriver" id="searchTravelId" checked />


                                        <div class="[ btn-group ]">
                                            <label for="searchTravelId" class="[ btn btn-primary ]">
                                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                                <span> </span>
                                            </label>
                                            <label for="searchTravelId" class="[ btn btn-default active ] checkboxUserlbl">
                                                Trouvez un conducteur!
                                            </label>
                                        </div>
                                    </div>


                                    <div class="[ form-group ] ">
                                        <input class="radio" type="checkbox" name="searchPassenger" id="searchOffersId"  />


                                        <div class="[ btn-group ] ">
                                            <label for="searchOffersId" class="[ btn btn-primary ] ">
                                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                                <span> </span>
                                            </label>
                                            <label for="searchOffersId" class="[ btn btn-default active ] checkboxUserlbl ">
                                                Trouvez un passager!
                                            </label>
                                        </div>

                                    </div>



                                    <br><button class="button small icon fa-arrow-circle-right">Go!</button>
                                </form>



                            </div>







                        </div>
                        <!-- Sidebar -->
                        <section>
                            <div><br>

                                <h1>Experience</h1><input type="radio" name="smoker-radio" value="Super">Super-Experience<br>
                                <input type="radio" name="smoker-radio" value="Moyen" checked>Moyen-Experience <br>
                                <input type="radio" name="smoker-radio" value="Ex" checked>Experience <br>
                                <input type="radio" name="smoker-radio" value="Low" checked>Low-Experience <br>

                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>


                            </div>
                        </section>

                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Date
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ascendant</a></li>
                        <li><a href="#">Descendant</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Prix
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ascendant</a></li>
                        <li><a href="#">Descendant</a></li>
                    </ul>
                </div>
                <div class="8u 12u$(medium) important(medium)">


                    <div id="content">
                        <!--- PASSENGERS LOOKING FOR DRIVERS-->
                        <%if(driverBool == "on") { %>

                        <%for ( i= 0;i< name.length;i++) { %>
                        <form method="post" action="/add-passenger">
                            <input type="hidden" id="jsonObject" name="jsonObject" value="<%= JSON.stringify(jsonObject[i])%>">

                            <a href="javascript:;" onclick="parentNode.submit();">


                                <article class="row">
                                    <div class=" nameResult">
                                        <p name="idTravel" hidden><%= jsonObject[i]['driver'] %> </p>

                                        <input type="hidden" name="idTravel" value =<%= jsonObject[i]['idAddTravel']%>>


                                        <% var pieces = name[i].split(" ");%>
                                        <h1><%= pieces[0]+"."+pieces[1].substring(0,1)%></h1>
                                        <span><h3><%= jsonObject[i]['cost'] %>$</h3></span>

                                        <!--logos here and goodies. -->


                                        <div class = "vertical-line"></div>
                                    </div>

                                    <div class = "infoResult">

                                        <%=jsonObject[i]['departureDate']%><br>
                                        <%=jsonObject[i]['departureTime']%><br>
                                        <%=jsonObject[i]['startAddress']%> → <%=jsonObject[i]['destinationAddress']%><br>

                                        Sièges pris: <%=jsonObject[i]['takenSeat']%><br>

                                        Sièges disponibles: <%=jsonObject[i]['availableSeat']%><br>
                                        <% if (jsonObject[i]['petsAllowed'] == 0){ %>
                                        Animaux permis? : Non<br>
                                        <%}else{ %>
                                        Animaux permis? : Oui <br>
                                        <% } %>


                                    </div>

                                </article>
                            </a>
                        </form>




                        <hr>

                        <%}%>

                        <!--- DRIVERS LOOKING FOR PASSENGERS-->
                        <%}else{ %>
                        <%for ( i= 0;i<name.length;i++) { %>
                        <form method="get" action="/select-passenger">
                            <a href="javascript:;" onclick="parentNode.submit();" >
                                <input type="hidden" id="jsonObject" name="jsonObject" value="<%= JSON.stringify(jsonObject[i])%>">
                                <article class="row">
                                    <div class=" nameResult">

                                    <div>
                                        <% var pieces = name[i].split(" ");%>
                                        <h1><%= pieces[0]+"."+pieces[1].substring(0,1);%></h1>
                                        <!--logos here and goodies. -->

                                    </div>

                                        <div class = "vertical-line"></div>
                                    </div>

                                    <div class = "infoResult">

                                    <div>

                                        <%=jsonObject[i]['departureDate']%><br>
                                        <%=jsonObject[i]['departureTime']%><br>
                                        <%=jsonObject[i]['startAddress']%> → <%=jsonObject[i]['destinationAddress']%><br>

                                        Nb de Valises : <%=jsonObject[i]['luggagesSize']%><br>



                                        <% if (jsonObject[i]['petsAllowed'] == 0){ %>
                                        Animaux? : Non<br>
                                        <%}else{ %>
                                        Animaux? : Oui <br>
                                        <% } %>


                                    </div>
                                    </div>
                                </article>


                            </a>
                        </form>


                        <hr>
                        <%}%>
                        <%}%>







                    </div>




                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>