<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>
    <!-- Banner -->
        <div class="box container">
            <div>
                <h2><%= strings.infoOnRequest %></h2>
                <article class="row">
                    <div class = "infoResult">

                        <div>

                            <%=passengerSearch['departureDate']%><br>
                            <%=passengerSearch['departureTime']%><br>
                            <%=passengerSearch['startAddress']%> → <%=passengerSearch['destinationAddress']%><br>

                            <%= strings.luggage %> <%=passengerSearch['luggagesSize']%><br>



                            <% if (passengerSearch['petsAllowed'] == 0){ %>
                            <%= strings.petsAllowed %> <%= strings.no %><br>
                            <%}else{ %>
                            <%= strings.petsAllowed %> <%= strings.yes %> <br>
                            <% } %>


                        </div>
                    </div>
                </article>
            </div>

            <div>
                <h2><%= strings.travelOffer%></h2>
                <% if(driverOffer.length > 0){ %>
                    <FORM action="/addPropositionTransport" method="post">
                        <input type="hidden" name="idTravelSearch" id="idTravelSearch" value="<%= passengerSearch['idSearchTravel']%>">
                        <select   name="travelOffer" >
                            <option value="0" selected="1"><%= strings.verboseTravelOffer %></option>
                            <% for(i= 0; i<driverOffer.length; i++){ %>
                                <option value="<%= driverOffer[i]['idAddTravel']%>"><%= driverOffer[i]['idAddTravel'] %> → <%= driverOffer[i]['departureTime']%> </option>
                            <% }%>
                        </select>
                        <button class="button small icon fa-arrow-circle-right"><%= strings.offerTheTravel %></button>
                    </FORM>
                <% } %>
                <div>
                    <h3><%= strings.possibilityCreateTravelFast %></h3>
                </div>
                <form action="/createFastTravel" method="get">
                    <input type="hidden" id="jsonObject" name="jsonObject" value="<%= JSON.stringify(passengerSearch)%>">
                    <button class="button small icon fa-arrow-circle-right"><%= strings.createNewTravelFast %></button>
                </form>

            </div>
        </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>