<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
        <div class="box container">
            <div class="content-wrapper-2-columns-login clearfix">

                <!-- Content -->
                <div class="left">
                    <h2><%= login.signupLabel %></h2>
                    <form action = "/sign-up" method="post">
                        <input type="text" class="login-textbox"  name = "firstName" placeholder ="<%= login.firstName %>"><br>
                        <input type="text" class="login-textbox"  name = "familyName" placeholder ="<%= login.familyName %>"><br>
                        <input type="email" class="signup-email" name = "email" placeholder="<%= login.email %>"><br>
                        <input type="password" class="signup-pass" name = "password" placeholder="<%= login.pwd %>"><br>
                        <input type="password" class="signup-pass" name = "confirm-password" placeholder="<%= login.pwdConfirm %>"><br>
                        <input type="text" class="login-textbox" name = "birthDate" placeholder="<%= login.birthDate %>"><br>
                        <br>
                        <div class="g-recaptcha" data-sitekey="6LdJfA8TAAAAAI-nVvUXaNsEMhVDuCtVSySWuiwA"></div><br>
                        <button type="submit" class="button small icon fa-arrow-circle-right"><%= login.inscription %></button><br>
                    </form><br>
                </div>
                <div class="right">
                    <form class="sign-in-social-media">
                        <a href="/auth/facebook" >
                            <img class="logo-social-media" src="<%= login.facebookSignin%>">
                        </a>
                    </form>
                    <form class="sign-in-social-media">
                        <a href="/auth/google" >
                            <img class="logo-social-media" src="<%= login.googleSignin%>">
                        </a>
                    </form>
                </div>
            </div>
        </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>