<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">

                <% include ../partials/sidebar %>

                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">
                        <h2>Proposition de voyage</h2>
                        <%if(proposition.length > 0) { %>
                            <% proposition.forEach(function(items){%>
                                <h3> Code de votre voyage: <%= items.searchID%></h3>
                                <h4> Voyage proposé: </h4>
                                <% items.offer.forEach(function(transport){%>
                                    <form method="get" action="/travel/<%= transport.attributes.idAddTravel %>">
                                        <a href="javascript:;" onclick="parentNode.submit();">
                                            <%= transport.attributes.startAddress %> → <%= transport.attributes.destinationAddress%><br>
                                            <p>Heure du départ: <%= transport.attributes.departureTime %></p>
                                            <p>Coût: <%= transport.attributes.cost %></p>
                                            <% if (transport.attributes.petsAllowed == 1){ %>
                                                <%= strings.petsAllowed %> <%= strings.no %><br>
                                            <%}else{ %>
                                                <%= strings.petsAllowed %> <%= strings.yes %> <br>
                                            <% } %>
                                        </a>
                                    </form>
                                    <hr>

                                <%})%>
                            <% }) %>
                        <%} else{ %>
                            <p> vous n'avez reçu aucune proposition de transport</p>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>